/**!
 * @Author ntnyq<lssham@qq.com>
 * @Date 2018-05-20
 */
@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html {
  position: relative;
  height: 100%;
  overflow: hidden;
}
body {
  height: 100%;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  overflow: hidden;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
}
.sidebar-toggle:checked + .sidebar-ctrl span:nth-of-type(1) {
  position: relative;
  top: -8px;
  margin-top: 20px;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}
.sidebar-toggle:checked + .sidebar-ctrl span:nth-of-type(2) {
  position: relative;
  top: -8px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.sidebar-toggle:checked + .sidebar-ctrl span:nth-of-type(3) {
  position: relative;
  top: -8px;
  margin-top: -20px;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.sidebar-toggle:checked ~ .sidebar {
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.sidebar-ctrl {
  position: absolute;
  top: 5%;
  left: 0;
  z-index: 666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  padding: 15px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#183b92), to(#e42458));
  background: -webkit-linear-gradient(top, #183b92, #e42458);
  background: -o-linear-gradient(top, #183b92, #e42458);
  background: linear-gradient(to bottom, #183b92, #e42458);
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1578), 0 3px 10px rgba(0, 0, 0, 0.2274);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1578), 0 3px 10px rgba(0, 0, 0, 0.2274);
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  cursor: pointer;
}
.sidebar-ctrl:hover {
  opacity: .8;
  filter: alpha(opacity=80);
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1882), 0 6px 10px rgba(0, 0, 0, 0.2274);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1882), 0 6px 10px rgba(0, 0, 0, 0.2274);
}
.sidebar-ctrl:hover span {
  background-color: #ddd;
}
.sidebar-ctrl span {
  display: inline-block;
  width: 30px;
  height: 5px;
  background-color: #eee;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.sidebar {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 888;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
  text-align: center;
  overflow: hidden;
  counter-reset: flag;
  -webkit-transform: translate(-50%, -100%);
      -ms-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.sidebar a {
  position: relative;
  float: left;
  padding: 0 10px 0 60px;
  background-color: #666;
  background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#333));
  background: -webkit-linear-gradient(#666, #333);
  background: -o-linear-gradient(#666, #333);
  background: linear-gradient(#666, #333);
  line-height: 36px;
  font-size: 12px;
  color: #fff;
  outline: none;
}
.sidebar a.active,
.sidebar a:hover {
  background-color: #333;
  background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#000));
  background: -webkit-linear-gradient(#333, #000);
  background: -o-linear-gradient(#333, #000);
  background: linear-gradient(#333, #000);
}
.sidebar a.active:after,
.sidebar a:hover:after {
  background-color: #333;
  background: -webkit-linear-gradient(315deg, #333, #000);
  background: -o-linear-gradient(315deg, #333, #000);
  background: linear-gradient(135deg, #333, #000);
}
.sidebar a:first-of-type {
  padding-left: 46px;
  border-radius: 5px 0 0 5px;
}
.sidebar a:first-of-type:before {
  left: 14px;
}
.sidebar a:last-of-type {
  padding-right: 20px;
  border-radius: 0 5px 5px 0;
}
.sidebar a:last-of-type:after {
  content: none;
}
.sidebar a:after {
  content: "";
  position: absolute;
  top: 0;
  right: -18px;
  z-index: 1;
  width: 36px;
  height: 36px;
  background-color: #666;
  background: -webkit-linear-gradient(315deg, #666, #333);
  background: -o-linear-gradient(315deg, #666, #333);
  background: linear-gradient(135deg, #666, #333);
  -webkit-box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.4), 3px -3px 0 2px rgba(255, 255, 255, 0.1);
          box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.4), 3px -3px 0 2px rgba(255, 255, 255, 0.1);
  border-radius: 0 5px 0 50px;
  -webkit-transform: scale(0.707) rotate(45deg);
      -ms-transform: scale(0.707) rotate(45deg);
          transform: scale(0.707) rotate(45deg);
}
.sidebar a:before {
  content: counter(flag);
  counter-increment: flag;
  position: absolute;
  top: 0;
  left: 30px;
  width: 20px;
  height: 20px;
  margin: 8px 0;
  line-height: 20px;
  background-color: #444;
  background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#222));
  background: -webkit-linear-gradient(#444, #222);
  background: -o-linear-gradient(#444, #222);
  background: linear-gradient(#444, #222);
  border-radius: 50%;
  font-weight: bold;
}
.container {
  position: relative;
  height: 100%;
}
.container .page {
  height: 100%;
  padding-top: 40px;
  line-height: 1.8;
  text-align: center;
  color: #333;
  overflow: hidden;
}
[hidden] {
  display: none!important;
}
